{% extends 'Administration/AdminLayout.html.twig' %}

{% block content %}

    <h2 class="mb-2">Edition de l'Article</h2>

    {{ form_start(form) }}
    {{ form_widget(form) }}
    <!-- Trigger the modal with a button -->
    <button type="button" >Supprimer</button>
    {{ form_end(form) }}

{% endblock %}