{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('build/css/accueil.css') }}">
{% endblock %}

{% block content %}

    <div id="carousel" class="carousel slide carousel-fade" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#carousel" data-slide-to="0" class="active"></li>
            <li data-target="#carousel" data-slide-to="1"></li>
            <li data-target="#carousel" data-slide-to="2"></li>
        </ol>

        <div class="carousel-inner">
            <div class="active item"><img src="http://res.cloudinary.com/tiffanym/image/upload/q_100/v1529861540/erol-ahmed-80094-unsplash_ibayiv.jpg"/></div>
            <div class="item"><img src="http://res.cloudinary.com/tiffanym/image/upload/q_100/v1529861540/erol-ahmed-80094-unsplash_ibayiv.jpg"/></div>
            <div class="item"><img src="http://res.cloudinary.com/tiffanym/image/upload/q_100/v1529861540/erol-ahmed-80094-unsplash_ibayiv.jpg"/></div>
        </div>

        <a class="left carousel-control" href="#carousel" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left"></span>
        </a>
        <a class="right carousel-control" href="#carousel" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right"></span>
        </a>
    </div>


    <br>
    <div class="row">
        <div class="col-xs-12"><h1>Futur titre</h1>
            <p>Futur text blabla</p></div>
    </div>
{% endblock %}