{% extends 'base.html.twig' %}

{% block body %}

    <div class="container">
    <h1>LA CARTE</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse quis fermentum justo, ornare condimentum massa. Donec non nisi ultricies, porttitor nisi a, molestie ante. Vivamus ornare velit et consectetur ullamcorper. Nunc eget lacinia velit. Sed lorem velit, volutpat at interdum id, rhoncus at tellus. Phasellus aliquam purus nec efficitur porttitor. Proin pulvinar non enim eget bibendum.</p>
        <div class="row">
            <div class="col-sm">
                <h2>Titre</h2>


            </div>
            <div class="col-sm">
                <h2>Titre</h2>

            </div>
            <div class="col-sm">
                <h2>Titre</h2>

            </div>

        </div>
    </div>

{% endblock %}